a:hover, a:focus, .main-navigation ul.navbar-nav li.open>a, .main-navigation ul.navbar-nav>li.active>a, .main-navigation ul.navbar-nav>li a:hover, .main-navigation ul.navbar-nav>li a:focus, .main-navigation ul.navbar-nav>li>a:hover, .main-navigation ul.navbar-nav>li>a:focus, .footer .useful-links .useful-links-menu ul li a:hover, .footer .copyright a:hover, .content-meta>span a:hover, .hentry.format-quote a:hover, .hentry.format-link a:hover, .comments-area .comment-block .comment-reply-link:hover, body.single:not(.single-blog) .content-meta>span a:hover, .content-meta-button>a:hover, .tooltip-inner .icon-share:hover, .hentry .event-time .event-countdown, .hentry .event-time .event-countdown .dash .time_number .digit, .hentry .event-time .event-countdown .dash .dash_title, .social-list li a:hover, .jp-controls-container .jp-controls a:hover, .contact-info-wrap .contact-info .contact-detail ul li i, .content-summary .donate-progress-label .donate-progress-ed span, .content-summary .donate-progress-label .donate-progress-go span, .featured-causes .view-all-cause-btn:hover {
color:#4ecbe6;
}
@media screen and (min-width: 992px) {
.home .main-navigation ul.navbar-nav>.active>a, .home .main-navigation ul.navbar-nav>li>a:hover, .home .noo-header.scroll-fixed .main-navigation ul.navbar-nav>.active>a, .home .noo-header.scroll-fixed .main-navigation ul.navbar-nav>li>a:hover {
color:#4ecbe6;
}
}
@media screen and (max-width: 991px) {
.home .main-navigation ul.navbar-nav>.active>a, .home .main-navigation ul.navbar-nav>li>a:hover {
color:#4ecbe6;
}
}
.back-to-top:hover, .pagination .page-numbers.current, .pagination a.page-numbers:hover, .entry-tags a:hover, .donate-modal .donate-form-radio .donate-form-group.selected label, .tag-cloud .tag-cloud-list a:hover, .parallax .overlay, .jp-controls-container .jp-play-bar, .jp-controls-container .jp-volume-bar-value, .noo-accordion.panel-group .panel-heading:hover .panel-title a, .noo-accordion.panel-group .panel-heading.active .panel-title a, .nav-tabs>li>a:hover, .tabs-left>.nav-tabs>li>a:hover, .tabs-left>.nav-tabs>li.active>a, .tabs-left>.nav-tabs>li.active>a:hover, .tabs-left>.nav-tabs>li.active>a:focus, .noo-progress-bar .progress-bar-primary, .btn.btn-primary, .noo-slider .slider-control, .content-summary .donate-progress .donate-progress-bar, .posts-loop.slider .carousel-control, .our-work-slider .noo-slider .slider-control:hover {
	background:#4ecbe6;
}
@media screen and (min-width: 768px) {
.posts-loop.slider .loop-thumb .loop-thumb-wrap .loop-thumb-content .carousel-indicators li.active {
background:#4ecbe6;
}
}
.read-more:hover, .datepicker-calendar .datepicker table tr td.active:hover, .datepicker-calendar .datepicker table tr td.active:hover:hover, .datepicker-calendar .datepicker table tr td.active.active, .datepicker-calendar .datepicker table tr td.active:hover.active, .datepicker-calendar .datepicker table tr td.today, .datepicker-calendar .datepicker table tr td.today:hover, .datepicker-calendar .datepicker table tr td.today.disabled, .datepicker-calendar .datepicker table tr td.today.disabled:hover, .datepicker-calendar .datepicker table tr td span.active:hover, .datepicker-calendar .datepicker table tr td span.active:hover:hover, .datepicker-calendar .datepicker table tr td span.active.active, .datepicker-calendar .datepicker table tr td span.active:hover.active {
	background:#4ecbe6!important;
}
.donate-modal .donate-form-text .donate-form-group input[type="text"]:focus {
	border-color:#4ecbe6;
}
.main-navigation ul.navbar-nav>li>.dropdown-menu {
	border-top:2px solid #4ecbe6;
}
.main-navigation ul.navbar-nav>li>.dropdown-menu:before {
	border-bottom:8px solid #4ecbe6;
}
.footer-newsletter form .input-box input:focus {
	-webkit-box-shadow:0 0 8px 0 #4ecbe6;
	box-shadow:0 0 8px 0 #4ecbe6;
}
.btn.btn-primary:hover, .posts-loop.slider .carousel-control:hover {
	background:#1daccb;
}
.main-navigation ul.navbar-nav .menu-item-donate .btn:hover, .main-navigation ul.navbar-nav .menu-item-donate .btn:focus {
	background:#1daccb!important;
}
.content-summary .donate-progress {
	background:#a7e5f3;
}
.our-work .our-work-img-wrap .our-work-img-bg {
	background:#beecf6;
}
